<div class="card mb-2">
  <div class="card-header bg-dark text-white">
    <h5>
      <i class="fas fa-user-alt"></i> {{user.username}}
    </h5>
  </div>
  <div class="card-body">
    <p><i class="fas fa-user-circle"></i> {{user.fullname}}</p>
    <p><i class="fas fa-envelope-square"></i> {{user.email}}</p>
  </div>
</div>
